<!-- ======= Footer ======= -->





<footer id="footer">
    <section id="contact" class="contact">
      <div class="container">
  
        <div class="section-title" data-aos="fade-up">
          <h2>NOUS CONTACTER</h2>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3307.4316461904587!2d-6.851469484993756!3d34.00712958061834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda76c89d87752c9%3A0x92bd4ce39391fa4c!2sOffice%20Du%20D%C3%A9veloppement%20De%20La%20Coop%C3%A9ration%20(O.D.C.O.)!5e0!3m2!1sfr!2sma!4v1590778381230!5m2!1sfr!2sma" width="800" height="600" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>        </div>
        
        <div class="row">
  
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="contact-about">
              <h3>Coobserve</h3>
              <p>Le site officiel des statistiques des cooperatives au Maroc</p>
              <div class="social-links">
                <a href="https://twitter.com/intent/tweet?text=Question%20r%C3%A9ponses%20http%3A%2F%2Fwww.odco.gov.ma%2Ffr%2Fodco%2Fquestions-reponses&related=AddToAny,micropat" class="twitter"><i class="icofont-twitter"></i></a>
                <a href="https://web.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwww.odco.gov.ma%2Ffr%2Fodco%2Fquestions-reponses&t=Question%20r%C3%A9ponses&quote=%D8%A7%D9%84%D8%A7%D9%86%D8%B6%D9%85%D8%A7%D9%85%20%D8%A5%D9%84%D9%89%20%D8%A7%D9%84%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A9%20%D9%8A%D9%82%D8%AA%D8%B6%D9%8A%20%D9%85%D9%85%D8%A7%D8%B1%D8%B3%D8%A9%20%D9%86%D8%B4%D8%A7%D8%B7%20%D9%8A%D8%AF%D8%AE%D9%84%20%D9%81%D9%8A%20%D9%85%D8%AC%D8%A7%D9%84%20%D8%A7%D9%84%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A9%20(%D8%A8%D8%A7%D8%B3%D8%AA%D8%AB%D9%86%D8%A7%D8%A1%20%D8%A7%D9%84%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A7%D8%AA%20%D8%A7%D9%84%D8%B3%D9%83%D9%86%D9%8A%D8%A9%20%D8%A7%D9%84%D8%AA%D9%8A%20%D9%8A%D8%AA%D8%B9%D9%8A%D9%86%20%D8%B9%D8%AF%D9%85%20%D8%A7%D9%85%D8%AA%D9%84%D8%A7%D9%83%20%D8%A7%D9%84%D8%B9%D8%B6%D9%88%20%D9%84%D8%B3%D9%83%D9%86%20%D9%85%D9%84%D8%A7%D8%A6%D9%85%20%D8%A8%D8%A7%D9%84%D8%AF%D8%A7%D8%A6%D8%B1%D8%A9%20%D8%A7%D9%84%D8%AA%D8%B1%D8%A7%D8%A8%D9%8A%D8%A9%20%D9%84%D9%84%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A9%D8%8C%20%D9%88%D9%83%D8%B0%D8%A7%20%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A7%D8%AA%20%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D9%87%D9%84%D8%A7%D9%83%20%D8%A7%D9%84%D8%AA%D9%8A%20%D9%84%D8%A7%20%D9%8A%D8%AA%D8%B7%D9%84%D8%A8%20%D8%A7%D9%84%D8%A7%D9%86%D8%B6%D9%85%D8%A7%D9%85%20%D8%A5%D9%84%D9%8A%D9%87%D8%A7%20%D9%85%D9%85%D8%A7%D8%B1%D8%B3%D8%A9%20%D9%86%D8%B4%D8%A7%D8%B7%20%D9%85%D8%B9%D9%8A%D9%86)%20%D9%85%D8%B9%20%D9%85%D9%84%D8%A7%D8%AD%D8%B8%D8%A9%20%D9%85%D9%87%D9%85%D8%A9%20%D8%A3%D9%86%20%D8%A7%D9%84%D8%A7%D9%86%D8%B6%D9%85%D8%A7%D9%85%20%D8%A5%D9%84%D9%89%20%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A9%20%D9%84%D8%A7%20%D9%8A%D8%B9%D9%86%D9%8A%20%D8%A7%D9%84%D8%AA%D9%83%D8%A7%D9%85%D9%84%20(%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A9%20%D8%AA%D8%AD%D8%AA%D8%A7%D8%AC%20%D8%A5%D9%84%D9%89%20%D9%85%D8%AD%D8%A7%D8%B3%D8%A8%20%D8%A5%D9%84%D9%89%20%D9%83%D8%A7%D8%AA%D8%A8%D8%A9%20%D8%A5%D9%84%D9%89%20%D8%AD%D8%A7%D8%B1%D8%B3...%D9%84%D8%A7%20%D9%8A%D9%85%D9%83%D9%86%20%D8%A3%D9%86%20%D8%AA%D8%AA%D9%83%D9%88%D9%86%20%D8%A7%D9%84%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A9%20%D9%81%D9%8A%D9%85%D8%A7%20%D8%A8%D9%8A%D9%86%D9%87%D9%85%20%D8%A8%D9%84%20%D9%8A%D8%AA%D8%B9%D9%8A%D9%86%20%D8%AA%D9%88%D8%B8%D9%8A%D9%81%D9%87%D9%85)%20%D9%88%D8%A7%D9%84%D9%85%D8%B7%D9%84%D9%88%D8%A8%20%D9%81%D9%8A%20%D8%A7%D9%84%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A9%20%22%D8%A7%D9%84%D8%AA%D9%85%D8%A7%D8%AB%D9%84%22%20%D9%85%D9%85%D8%A7%D8%B1%D8%B3%D8%A9%20%D9%86%D9%81%D8%B3%20%D8%A7%D9%84%D9%86%D8%B4%D8%A7%D8%B7&_rdc=1&_rdr" class="facebook"><i class="icofont-facebook"></i></a>
                <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
                <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
            <div class="info">
              <div>
                <i class="ri-map-pin-line"></i>
                <p>Agdal Rabat Maroc 10000</p>
              </div>
  
              <div>
                <i class="ri-mail-send-line"></i>
                <p>contact@coobserve.com</p>
              </div>
  
              <div>
                <i class="ri-phone-line"></i>
                <p>+212 537562125</p>
              </div>
  
            </div>
          </div>
  
          <div class="col-lg-5 col-md-12" data-aos="fade-up" data-aos-delay="300">
            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Sujet" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Votre message est envoyer</div>
              </div>
              <div class="text-center"><button type="submit">Envoyer</button></div>
            </form>
          </div>
  
        </div>
  
      </div>
      
    </section>
   
    
  
  
  </footer><!-- End Footer -->
  
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
  
  <!-- Vendor JS Files -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="vendor/php-email-form/validate.js"></script>
  <script src="vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="vendor/counterup/counterup.min.js"></script>
  <script src="vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="vendor/venobox/venobox.min.js"></script>
  <script src="vendor/aos/aos.js"></script>
  
  <!-- Template Main JS File -->
  <script src="js/main.js"></script>
  
  <!-- bootstrap -->
  
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
  
  <!-- jQuery CDN - Slim version (=without AJAX) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Popper.JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  
  
  </section>
  
  </body>
  
  </html>
  