<%- include("partials/header"); -%>
<div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
  <h1 data-aos="fade-up">Bienvenue a l'observatoire national des cooperatives marocaines.</h1>
  <h2 data-aos="fade-up" data-aos-delay="400">We are team of talanted designers making websites with Bootstrap</h2>
  <div data-aos="fade-up" data-aos-delay="800">
    <a href="/register" class="btn-get-started scrollto">Creer votre cooperative</a>
  </div>
</div>
