<% if (auth==1) { %>
<%- include('partials/login_header'); -%>"
<% }else { %>
<%- include('partials/header'); -%>
<% } %>





  <!-- ======= A propos de l'ODCO Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Docuthèque</h2>
      </div>

      <p>Ce module a pour objectif de mettre à la disposition des acteurs économiques, des chercheurs universitaires  et du  grand public, les différents  rapports produits  au sein de l'ODCO</p>
<br> <br> <br>
      <div class="row content">
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
          <h3>
            ESPACE TÉLÉCHARGEMENT

          </h3>
          <ul>
            <br><a href=" http://www.odco.gov.ma/sites/default/files/loi%20relative%20aux%20coope%CC%81ratives%20%20ver%20FR.pdf" class="ri-check-double-line"> Loi n°112.12 relative aux coopératives    </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/la%20loi%20n%20112.12%20%20relative%20aux%20coop%C3%A9ratives%20%D8%A7%D9%84%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%B1%D9%82%D9%85%20112.12%20%D8%A7%D9%84%D9%85%D8%AA%D8%B9%D9%84%D9%82%20%20%D8%A8%D8%A7%D9%84%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A7%D8%AA.pdf" class="ri-check-double-line"> La loi n 112.12 relative aux coopératives </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/arrete_ministre_justice.pdf" class="ri-check-double-line"> Arrêté du ministre de la justice et des libertés </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/%D8%A5%D8%AC%D8%B1%D8%A7%D8%A1%D8%A7%D8%AA%20%D8%A7%D9%84%D8%AA%D8%A3%D8%B3%D9%8A%D8%B3%20%20%D9%88%D8%A7%D9%84%D9%85%D9%84%D8%A7%D8%A1%D9%85%D8%A9%D9%88%D9%81%D9%82%20%D8%A3%D8%AD%D9%83%D8%A7%D9%85%20%D8%A7%D9%84%D9%82%D8%A7%D9%86%D9%88%D9%86%20%D8%A7%D9%84%D8%AC%D8%AF%D9%8A%D8%AF%20%20%D9%84%D9%84%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D8%A7%D8%AA_0.pdf" class="ri-check-double-line"> Procedure de constitution et de conformité selon la nouvelle loi des coopératives </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/attestation_inscription_denomination_odco_0.pdf" class="ri-check-double-line"> Demande d'enregistrement au registre locale des coopératives </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/demenade_validation_denomination.pdf" class="ri-check-double-line"> Demande de validation de la dénomination </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/GUIDE_MOULAAMA_0.pdf" class="ri-check-double-line"> Guide de conformité </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/GUIDE_TAESSISS.pdf" class="ri-check-double-line"> Guide de constitution </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/%D9%82%D8%A7%D8%A6%D9%85%D8%A9%20%D8%A8%D8%A7%D9%84%D8%A3%D8%B9%D8%B6%D8%A7%D8%A1%20%D8%A7%D9%84%D9%85%D8%AA%D8%B9%D8%A7%D9%88%D9%86%D9%8A%D9%86_0.pdf" class="ri-check-double-line"> Liste des adherents souscripteurs </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/programme_colloque_pdt_%2016-17_nov_%202016_0.pdf" class="ri-check-double-line"> Programme deuxième colloque international sur les différentes stratégies d’acteurs pour la promotion des produits de terroir </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/declaration_preliminaire_fr.pdf" class="ri-check-double-line"> Déclaration (préliminaire) : Sommet international des coopératives Québec 2016 </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/revue_0.pdf" class="ri-check-double-line"> Revue - Développement des territoires de l'oriental </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/canevas_master_ess.pdf" class="ri-check-double-line"> Master Universitaire Spécialisé : Innovations Sociales et Management de l’Économie Sociale et Solidaire </a>
            <br><a href="http://www.odco.gov.ma/sites/default/files/taessiss_0.pdf" class="ri-check-double-line">  Statut type de constitution </a>

        </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
          <h3>
            Rapports des statistiques

          </h3>
          <ul>
            <br><a href="" class="ri-check-double-line"> 2020 </a>
            <br><a href="" class="ri-check-double-line"> 2019 </a>
            <br><a href="" class="ri-check-double-line"> 2018 </a>
            <br><a href="" class="ri-check-double-line"> 2017 </a>
            <br><a href="" class="ri-check-double-line"> 2016 </a>
            <br><a href="" class="ri-check-double-line"> 2015 </a>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End A propos de l'ODCO Section -->

</main><!-- End #main -->

<%- include("partials/footer"); -%>
