<% if (auth==1) { %>
<%- include('partials/login_header'); -%>"
<% }else { %>
<%- include('partials/header'); -%>
<% } %>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Bienvenue à l'observatoire national des cooperatives marocaines.</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Ce site est le site officiel des statistiques des cooperatives au Maroc</h2>
          <div data-aos="fade-up" data-aos-delay="800">
            <a href="/cooperativeAuMaroc" class="btn-get-started scrollto">Decouvrir les statistiques</a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
          <img src="img/hero-img1.png" class="img-fluid animated" alt="" style="width:80%">

        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Partenaires Section ======= -->

    <section id="clients" class="clients clients">
      <div class="container">

        <div class="row">


          <div class="col-lg-2 col-md-4 col-6">
            <A href="https://mtataes.gov.ma/fr/" ><img  src="img/partenaires/ministere.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500" style="width:100%"></A>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <A href="https://artisanat-marocaine.com/fr/" ><img src="img/partenaires/artisanat-du-maroc-logo.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100"
            style="width:80%"></A>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <A href="http://m.anapec.org/" ><img src="img/partenaires/anapec.png" class="img-fluid" alt="" data-aos="zoom-in" style="width:80%"></A>
          </div>


          <div class="col-lg-2 col-md-4 col-6">
            <A href="http://www.indh.ma/" ><img src="img/partenaires/indh.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200" style="width:80%"></A>
          </div>


          <div class="col-lg-2 col-md-4 col-6">
            <A href="https://www.onca.gov.ma/" ><img src="img/partenaires/onca.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300" style="width:200%"></A>
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <A href="https://www.coopmaroc.com/" ><img src="img/partenaires/coop.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400" style="width:200%"></A>
          </div>


        </div>

      </div>
    </section><!-- End Partenaires Section -->

    <!-- ======= A propos de l'ODCO Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>A propos de l'Observatoire</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
            <p>
              L’Observatoire Marocain des coopératives est une structure de l'ODCO, de la Coopération et de la Communication, qui   veille au  recueil
              des statistiques des coopératives détaillées et complètes.

            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> La collecte et la centralisation des statistiques des cooperatives </li>
              <li><i class="ri-check-double-line"></i> L’alignement de ces statistiques avec les standards internationaux </li>
              <li><i class="ri-check-double-line"></i> La mise en place d’un système informatique pour la collecte et la diffusion de ces statistiques </li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <p>
              Le Portail de l’Observatoire Marocain des coopératives est un trait d’union reliant citoyennes et citoyens et divers acteurs
              du secteur : départements ministériels, institutions nationales, instances civiles, politiques, syndicales et médiatiques.

              </p>

          </div>
        </div>

      </div>
    </section><!-- End A propos de l'ODCO Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="row">
          <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
            <img src="img/counts-img.svg" alt="" class="img-fluid">
          </div>

          <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <div class="content d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-simple-smile"></i>
                    <span data-toggle="counter-up">27262</span>
                    <p><strong>coopératives</strong> sont recensées au niveau national en 2019.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <!-- <i class="icofont-document-folder"></i> -->
                    <i class="icofont-female"></i>
                    <span data-toggle="counter-up">2600</span>
                    <p><strong>Cooperatives</strong> sont 100% féminines, ce qui représente un pourcentage de 14% de l’effectif global.</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-clock-time"></i>
                    <span data-toggle="counter-up">12</span>
                    <p><strong>Years of experience</strong> aut commodi quaerat modi aliquam nam ducimus aut voluptate non vel</p>
                  </div>
                </div>

                <div class="col-md-6 d-md-flex align-items-md-stretch">
                  <div class="count-box">
                    <i class="icofont-award"></i>
                    <span data-toggle="counter-up">15</span>
                    <p><strong>Awards</strong> rerum asperiores dolor alias quo reprehenderit eum et nemo pad der</p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Counts Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Services</h2>
          <p>Découvrez nos services en ligne reltifs au secteur des coopératives au Maroc.</p>
        </div>

        <div class="row">

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="icofont-chart-line"></i></div>
              <h4 class="title"><a href="cooperativeAuMaroc">Statistiques</a></h4>
              <p class="description">Découvrez les principales statistiques relatives aux coopératives</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="icofont-file-document"></i></div>
              <h4 class="title"><a href="">Docuthèque</a></h4>
              <p class="description">Accédez à l’ensemble des rapports et publications du secteur des coopératives...</p>
            </div>
          </div>

          <!-- <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="icofont-law-order"></i></div>
              <h4 class="title"><a href="/services/loi12212">La loi 112.12</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div> -->

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="/register">Constituer votre coopérative</a></h4>
              <p class="description">Retrouvez un guide complet pour démarrer votre coopérative</p>
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="/register">Declaration des cooperatives</a></h4>
              <p class="description">Declarer une demande de creation d'une nouveau cooperative</p>
            </div>
          </div>



        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Actualités Section ======= -->

      <section id="more-services" class="more-services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Actualites</h2>
          <p>Retrouvez toutes les actualités du secteur des coopératives</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("img/actualites/actualite1.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <!-- <h5 class="card-title"><a href="">Lobira Duno</a></h5> -->
                <p class="card-text">Consécration de 14 coopératives féminines du prix national de la meilleure idée de projet de développement d’une coopérative féminine.</p>
                <div class="read-more"><a href="https://mtataes.gov.ma/fr/"><i class="icofont-arrow-right"></i>Lire la suite</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("img/actualites/actualite2.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <!-- <h5 class="card-title"><a href="">Limere Radses</a></h5> -->
                <p class="card-text">L’Office de Développement de la Coopération Signe une convention de partenariat avec l’Université Chouaib Doukkali.</p>
                <div class="read-more"><a href="https://mtataes.gov.ma/fr/"><i class="icofont-arrow-right"></i>Lire la suite</a></div>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("img/actualites/actualite3.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="https://mtataes.gov.ma/fr/"></a></h5>
                <p class="card-text">l’ODCO participe à une table ronde sur l’implémentation du pacte mondial pour les réfugiés au Maroc.</p>
                <div class="read-more"><a href="https://mtataes.gov.ma/fr/"><i class="icofont-arrow-right"></i>Lire la suite</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("img/actualites/actualite4.jfif");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href=""></a></h5>
                <p class="card-text">Réunion de travail avec les partenaires du projet Kasbuy, « Moroccan Internet Society (MISOC), « International-Internet Society » et le Directeur de l'ISOC Afrique.</p>
                <div class="read-more"><a href="https://mtataes.gov.ma/fr/"><i class="icofont-arrow-right"></i>Lire la suite</a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Actualités Section -->

    <!-- ======= Programmes Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Programmes</h2>
          <p>Retrouvez tous les programmes du secteur des coopératives</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up" data-aos-delay="200">

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <a href="http://www.odco.gov.ma/fr/content/programme-mourafaka"><img src="img/programmes/mourafaka.jfif" class="testimonial-img" alt=""></a>>
              <h3>Mourafaka</h3>
              <!-- <h4>Ceo &amp; Founder</h4> -->
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Le programme « Mourafaka » est un programme d’appui post-création aux coopératives nouvellement créées.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <a href="http://www.odco.gov.ma/fr/content/programme-pdress"><img src="img/programmes/marchesItinerants.png" class="testimonial-img" alt=""></a>
              <h3>Pdress</h3>
              <!-- <h4>Designer</h4> -->
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Le Programme de développement de l’économie sociale  et solidaire  de  la région de Rabat-Salé-Zemmour-Zaër(RSZZ) d’une durée de quatre ans.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <a href="http://www.odco.gov.ma/fr/blog/appui-et-accompagnement"><img src="img/programmes/odco.png" class="testimonial-img" alt=""></a>
              <h3>Appui aux coopératives</h3>
              <!-- <h4>Store Owner</h4> -->
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Campagne de sensibilisation nationale sur les perspectives de développement de l’action coopérative.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <!-- <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div>

          <div class="testimonial-wrap">
            <div class="testimonial-item">
              <img src="img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
            </div>
          </div> -->

        </div>

      </div>
    </section><!-- End Programmes Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Images</h2>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">Tout</li>
              <li data-filter=".filter-app">Agriculture</li>
              <li data-filter=".filter-card">Art et culture</li>
              <li data-filter=".filter-web">Tourisme</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="400">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/coop1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/coop2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/coop3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/coop4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/coop.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="img/portfolio/coop6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/coop7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="img/portfolio/coop8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">

              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="img/portfolio/coop9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">

              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->




    <!-- ======= F.A.Q Section ======= -->
    <section id="faq" class="faq">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>QUESTIONS FRÉQUEMMENT POSÉES</h2>
        </div>

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Quelles sont les lois régissant le secteur coopératif au Maroc?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Les coopératives sont soumises à la loi n ° 112.12 relative aux coopératives telle que modifiée et à la loi n ° 16.74 modifiant la loi n ° 112.12 relative aux coopératives ainsi qu'aux dispositions du décret n ° 2.15.617 du 24 mars 2016 définissant les règles d'organisation et de gestion du registre coopératif et à la décision du ministre de la justice et des libertés n ° 1369.16 du 9 mai 2016 Définir la forme et le contenu du registre local des coopératives, les formulaires de demande d'enregistrement, la restriction et la finition modifiées, ainsi qu'un formulaire de certificat et un extrait dudit dossier </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Quel est le concept de coopérative?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Un contrat indépendant mis à jour entre soi et / ou les personnes morales ou ensemble, elles ont volontairement accepté de commercialiser leurs produits ou services collectivement ou d'obtenir des services ou un emploi en exploitant leurs capacités matérielles et techniques, et elles sont gérées conformément à la loi et aux principes coopératifs.
            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Quels sont les objectifs de la coopérative ?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Les objectifs de la coopérative sont multiples et se distinguent de ceux liés aux entreprises et associations, qui sont des objectifs économiques, sociaux, éducatifs, culturels et environnementaux            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Quelles sont les conditions d'adhésion à une coopérative??</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Rejoindre une coopérative nécessite de pratiquer une activité qui entre dans le domaine coopératif (à l'exception des coopératives résidentielles que le membre ne doit pas posséder un logement adéquat dans le cercle de terre coopérative, ainsi que des coopératives de consommation qui ne nécessitent pas de rejoindre une activité spécifique) avec une note importante que rejoindre une coopérative ne signifie pas l'intégration (une coopérative a besoin À un comptable, à un écrivain, à un gardien ... la coopérative ne peut pas se former entre eux, mais doit être employée) et ce qui est requis dans la "symétrie" coopérative, c'est d'exercer la même activité            </p>
          </div>
        </div><!-- End F.A.Q Item-->

        <div class="row faq-item d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="500">
          <div class="col-lg-5">
            <i class="ri-question-line"></i>
            <h4>Comment créer une coopérative ?</h4>
          </div>
          <div class="col-lg-7">
            <p>
              Une coopérative est créée après avoir effectué les procédures suivantes qui se terminent par l'inscription au registre local des coopératives, et les procédures pour les événements sont les suivantes: obtention d'un certificat de certification du label, signature des statuts, ouverture d'un compte bancaire, obtention d'un récépissé de dépôt auprès de l'autorité locale, inscription au registre local des coopératives et obtention d'une copie de Le formulaire d'inscription comprend le numéro d'enregistrement dans le registre local des coopératives.            </p>
          </div>
        </div><!-- End F.A.Q Item-->

      </div>
    </section><!-- End F.A.Q Section -->

    <!-- ======= Contact Section ======= -->
    <!-- End Contact Section -->

  </main><!-- End #main -->

  <%- include("partials/footer"); -%>
