<% if (auth==1) { %>
<%- include('partials/login_header'); -%>"
<% }else { %>
<%- include('partials/header'); -%>
<% } %>

<div class="container">


    <form class="well form-horizontal" action="/register" method="post"  id="contact_form">

<fieldset>

<!-- Form Name -->
<legend><center><h2><b>Mon compte</b></h2></center></legend><br>

<!-- Text input-->


    <div style="text-align:center;">
        <br> 
        <li class="get-started"><a href="/modifier_compte">Modifier mon compte</a></li>
        <br><li class="get-started"><a href="/deletecpt">Supprimer mon compte</a></li>

</div>
</div>

</fieldset>


</form>


    </div><!-- /.container -->


<%- include("partials/footer"); -%>
