<% if (auth==1) { %>
<%- include('../partials/login_header'); -%>"
<% }else { %>
<%- include('../partials/header'); -%>
<% } %>
<br>


  <section id="more-services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>partenaires</h2>
        <p>Retrouvez tous les partenaires de l'odco:</p>
      </div>
      <br>

      <div >

        <div class="section-title" data-aos="fade-up"></div>
        <p>

            L’ODCO est administré par un conseil administratif composé de représentants des départements ministériels, d’établissements publics, de banques et de coopératives et présidé par Madame Nadia Fettah Alaoui ministre du Tourisme, de l’Artisanat, du Transport Aérien et de l’Economie Sociale<br>
          <br> <br> Les partenaires de l'ODCO sont : <br> <br> <br>

        </p>


      </div>
    </div>
    <section id="clients" class="clients clients">
        <div class="container">

          <div class="row">


            <div class="col-lg-2 col-md-4 col-6">
              <A href="https://mtataes.gov.ma/fr/" ><img  src="img/partenaires/ministere.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="500" style="width:100%"></A>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <A href="https://artisanat-marocaine.com/fr/" ><img src="img/partenaires/artisanat-du-maroc-logo.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="100"
              style="width:80%"></A>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <A href="http://m.anapec.org/" ><img src="img/partenaires/anapec.png" class="img-fluid" alt="" data-aos="zoom-in" style="width:80%"></A>
            </div>


            <div class="col-lg-2 col-md-4 col-6">
              <A href="http://www.indh.ma/" ><img src="img/partenaires/indh.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="200" style="width:80%"></A>
            </div>


            <div class="col-lg-2 col-md-4 col-6">
              <A href="https://www.onca.gov.ma/" ><img src="img/partenaires/onca.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="300" style="width:200%"></A>
            </div>

            <div class="col-lg-2 col-md-4 col-6">
              <A href="https://www.coopmaroc.com/" ><img src="img/partenaires/coop.png" class="img-fluid" alt="" data-aos="zoom-in" data-aos-delay="400" style="width:200%"></A>
            </div>


          </div>

        </div>
      </section>
      <section id="more-services" class="more-services">
        <div class="container">

          <div class="section-title" data-aos="fade-up">
            <h2>Actualites</h2>
            <p>Retrouvez toutes les actualités du secteur des coopératives</p>
          </div>

          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="card" style='background-image: url("img/actualites/actualite1.jpg");' data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <!-- <h5 class="card-title"><a href="">Lobira Duno</a></h5> -->
                  <p class="card-text">Consécration de 14 coopératives féminines du prix national de la meilleure idée de projet de développement d’une coopérative féminine.</p>
                  <div class="read-more"><a href="https://mtataes.gov.ma/fr/"><i class="icofont-arrow-right"></i>Lire la suite</a></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
              <div class="card" style='background-image: url("img/actualites/actualite2.jpg");' data-aos="fade-up" data-aos-delay="200">
                <div class="card-body">
                  <!-- <h5 class="card-title"><a href="">Limere Radses</a></h5> -->
                  <p class="card-text">L’Office de Développement de la Coopération Signe une convention de partenariat avec l’Université Chouaib Doukkali.</p>
                  <div class="read-more"><a href="https://mtataes.gov.ma/fr/"><i class="icofont-arrow-right"></i>Lire la suite</a></div>
                </div>
              </div>

            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="card" style='background-image: url("img/actualites/actualite3.jpg");' data-aos="fade-up" data-aos-delay="100">
                <div class="card-body">
                  <h5 class="card-title"><a href="https://mtataes.gov.ma/fr/"></a></h5>
                  <p class="card-text">l’ODCO participe à une table ronde sur l’implémentation du pacte mondial pour les réfugiés au Maroc.</p>
                  <div class="read-more"><a href="https://mtataes.gov.ma/fr/"><i class="icofont-arrow-right"></i>Lire la suite</a></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4">
              <div class="card" style='background-image: url("img/actualites/actualite4.jfif");' data-aos="fade-up" data-aos-delay="200">
                <div class="card-body">
                  <h5 class="card-title"><a href=""></a></h5>
                  <p class="card-text">Réunion de travail avec les partenaires du projet Kasbuy, « Moroccan Internet Society (MISOC), « International-Internet Society » et le Directeur de l'ISOC Afrique.</p>
                  <div class="read-more"><a href="https://mtataes.gov.ma/fr/"><i class="icofont-arrow-right"></i>Lire la suite</a></div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>



  <%- include("../partials/footer"); -%>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>
