<%- include("../../partials/header"); -%>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


  <script>
        $(function () {
            var ctx = document.getElementById("nombreCoop").getContext('2d');
            var data = {
              labels:[

              "Agadir Ida, Outanane",
              "Inezgane, Aït Melloul",
              "Chtouka, Aït Baha",
              "Taroudant",
              "Tiznit",
              "Tata"
                     ],

                datasets: [{
                    label: 'coopératives',
                    data:<%- JSON.stringify(activiteRegion); %>,

                    backgroundColor: [
                    '#130061',
                    '#1F006C',
                    '#2B0077',
                    '#370082',
                    '#44008D',
                    '#500097',
                    '#5C00A2',
                    '#6800AD',
                    '#7400B8',
                    '#851AC1',
                    '#9734CA',
                    '#A84ED3',
                    '#BA69DC',
                    '#CB83E4',
                    '#DC9DED',
                    '#EEB7F6',
                    '#FFD1FF',
                    '#130061',
                    '#1F006C',
                    '#2B0077',
                    '#370082',
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }],


            };
            var myDoughnutChart = new Chart(ctx, {
                type: 'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea

                data: data,

                options: {
                    // responsive: false,
                    maintainAspectRatio: false,
                    title: {
                      display: true,
                      text: "Nombre de cooperatives dans la region Souss-Massa",
                      fontSize: 25
                    },
                    legend: {
                      display: true,
                      position: 'bottom',
                      labels: {
                        fontColor: '#000'
                      }
                    },
                    layout: {
                      padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                      }
                    },
                    tooltips: {
                      enabled: true
                    }
                }
            });






            var ctx_2 = document.getElementById("nombreAdh").getContext('2d');
            var data_2 = {
              labels:[
              "Agadir Ida, Outanane",
              "Inezgane, Aït Melloul",
              "Chtouka, Aït Baha",
              "Taroudant",
              "Tiznit",
              "Tata"
                     ],

                datasets: [{
                    label: 'coopératives',
                    data: <%- JSON.stringify(nombreAdherent); %>,

                    backgroundColor: [
                    '#130061',
                    '#1F006C',
                    '#2B0077',
                    '#370082',
                    '#44008D',
                    '#500097',
                    '#5C00A2',
                    '#6800AD',
                    '#7400B8',
                    '#851AC1',
                    '#9734CA',
                    '#A84ED3',
                    '#BA69DC',
                    '#CB83E4',
                    '#DC9DED',
                    '#EEB7F6',
                    '#FFD1FF',
                    '#130061',
                    '#1F006C',
                    '#2B0077',
                    '#370082',
                    ],
                    borderWidth: 1,
                    borderColor: '#777',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }],


            };
            var myDoughnutChart_2 = new Chart(ctx_2, {
                type: 'bar',
                data: data_2,
                options: {
                    // responsive: false,
                    maintainAspectRatio: false,
                    title: {
                      display: true,
                      text: "Nombre d'adhérents dans la region Souss-Massa",
                      fontSize: 25
                    },
                    legend: {
                      display: true,
                      position: 'bottom',
                      labels: {
                        fontColor: '#000'
                      }
                    },
                    layout: {
                      padding: {
                        left: 50,
                        right: 0,
                        bottom: 0,
                        top: 0
                      }
                    },
                    tooltips: {
                      enabled: true
                    }
                }
            });














        });

  </script>

  <div>
      <canvas id="nombreCoop" width="240px" height="240px"></canvas>
  </div>

  <div>
      <canvas id="nombreAdh" width="240px" height="240px"></canvas>
  </div>


 </div>
 </div>












<%- include("../../partials/footer"); -%>
