<% if (auth==1) { %>
<%- include('../partials/login_header'); -%>"
<% }else { %>
<%- include('../partials/header'); -%>
<% } %>
<br>


  <section id="more-services" class="services">
    <div class="container">

      <div class="section-title" data-aos="fade-up">
        <h2>Etudes et prospectives</h2>
        <p>Actions futures </p>
      </div>

    </div>
</section>

<section id="counts" class="counts">
    <div class="container">

      <div class="row">
        <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start" data-aos="fade-right" data-aos-delay="150">
          <img src="img/logoODCO.jpg" alt="" class="img-fluid">
        </div>

        <div class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0" data-aos="fade-left" data-aos-delay="300">
            <ul>
                <br><i class="ri-check-double-line"></i> Prospective <br> + Mise à jour et calcul d’autres scénarios des études prospectives dans le secteur de l'economie social et solidaire </li>
                <br><br><i class="ri-check-double-line"></i> Observation et statistiques <br> + Instaurer un cadre législatif et réglementaire adéquat pour la collecte des données des cooperatives
                <br> + Finaliser et opérationnaliser l’application informatique relative à la collecte et au traitement des statistiques
                <br> + Renforcer le système de collecte et de diffusion des statistiques
                <br> + Consolider le système statistique national par des données actualisées de l'economie social et solidaire
                <br> + Décliner la collecte et la diffusion des données statistiques au niveau régional
               </li>
               <br><br><i class="ri-check-double-line"></i> Etudes d’impacts et analyse socioéconomique <br> + Réaliser des études d’impacts macroéconomiques induits des mesures entreprises </li>
               <br><br><i class="ri-check-double-line"></i> Veille stratégique <br> + Consolider la veille stratégique relative au secteur de l'economie social et solidaire </li>
                </ul>
        </div>
      </div>

    </div>
  </section>



  <%- include("../partials/footer"); -%>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
        $(this).toggleClass('active');
      });
    });
  </script>
